<template>
    <div class="app-container">
        <el-form :model="queryParams" ref="queryForm" :inline="true" v-show="showSearch" label-width="68px">
                                                                                                                                            <el-form-item label="用户名" prop="userId">
                            <el-input
                                    v-model="queryParams.userId"
                                    placeholder="请输入用户名"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="黑名单连接id" prop="connectId">
                            <el-input
                                    v-model="queryParams.connectId"
                                    placeholder="请输入黑名单连接id"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                                                <el-form-item label="创建时间">
                            <el-date-picker v-model="dateRange"
                                            size="small"
                                            style="width: 240px"
                                            value-format="yyyy-MM-dd"
                                            type="daterange"
                                            range-separator="-"
                                            start-placeholder="开始日期"
                                            end-placeholder="结束日期"
                            ></el-date-picker>
                        </el-form-item>
                                                                                                                                                                            <el-form-item>
                <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">查询</el-button>
                <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
            </el-form-item>
        </el-form>

        <el-row :gutter="10" class="mb8">
            <el-col :span="1.5">
                <el-button
                        type="primary"
                        icon="el-icon-plus"
                        size="mini"
                        @click="handleAdd"
                        v-hasPerm="['blacklist_add']"
                >新增</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        type="success"
                        icon="el-icon-edit"
                        size="mini"
                        :disabled="single"
                        @click="handleEdit"
                        v-hasPerm="['blacklist_edit']"
                >修改</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        type="danger"
                        icon="el-icon-delete"
                        size="mini"
                        :disabled="multiple"
                        @click="handleDel"
                        v-hasPerm="['blacklist_del']"
                >删除</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        type="warning"
                        icon="el-icon-download"
                        size="mini"
                        @click="handleExport"
                        v-hasPerm="['blacklist_export']"
                >导出</el-button>
            </el-col>
            <div class="top-right-btn">
                <el-tooltip class="item" effect="dark" content="刷新" placement="top">
                    <el-button size="mini" circle icon="el-icon-refresh" @click="handleQuery" />
                </el-tooltip>
                <el-tooltip class="item" effect="dark" :content="showSearch ? '隐藏查询' : '显示查询'" placement="top">
                    <el-button size="mini" circle icon="el-icon-search" @click="showSearch=!showSearch" />
                </el-tooltip>
            </div>
        </el-row>

        <el-table v-loading="loading" :data="blacklistList" border @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55" align="center" />
                                                                                <el-table-column label="" align="center" prop="id" />
                                                                                                <el-table-column label="用户名" align="center" prop="userId" />
                                                                                                <el-table-column label="黑名单连接id" align="center" prop="connectId" />
                                                                                                                                                            <el-table-column label="创建时间" align="center" prop="createTime" width="180">
                        <template slot-scope="scope">
                            <span>{{ parseTime(scope.row.createTime) }}</span>
                        </template>
                    </el-table-column>
                                                                                                                                                                                                                                                                                        <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            type="text"
                            icon="el-icon-edit"
                            @click="handleEdit(scope.row)"
                            v-hasPerm="['blacklist_edit']"
                    >修改</el-button>
                    <el-button
                            size="mini"
                            type="text"
                            icon="el-icon-delete"
                            @click="handleDel(scope.row)"
                            v-hasPerm="['blacklist_del']"
                    >删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <pagination
                v-show="total>0"
                :total="total"
                :page.sync="queryParams.current"
                :limit.sync="queryParams.size"
                @pagination="getList"
        />

        <!-- 添加或修改黑名单管理对话框 -->
        <el-dialog :title="title" :visible.sync="open">
            <el-form ref="form" :model="form" :rules="rules" label-width="80px">
                <el-row>
                                                                                                                                                                                                                                                        <el-col :span="12">
                                        <el-form-item label="用户名" prop="userId">
                                            <el-input-number v-model="form.userId" controls-position="right" :min="0" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="12">
                                        <el-form-item label="黑名单连接id" prop="connectId">
                                            <el-input-number v-model="form.connectId" controls-position="right" :min="0" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                                                                                                                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitForm">确 定</el-button>
                <el-button @click="cancel">取 消</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    import { listBlacklist, getBlacklist, delBlacklist, addBlacklist, editBlacklist, exportBlacklist } from "@/api/sbs/blacklist";

    export default {
        name: "Blacklist",
        data() {
            return {
                // 遮罩层
                loading: true,
                // 选中数组
                ids: [],
                // 非单个禁用
                single: true,
                // 非多个禁用
                multiple: true,
                // 总条数
                total: 0,
                // 黑名单管理表格数据
                    blacklistList: [],
                // 弹出层标题
                title: "",
                // 是否显示弹出层
                open: false,
                // 日期范围
                dateRange: [],
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            // 查询参数
                queryParams: {
                    current: 1,
                    size: 10,
                                                                            userId: undefined,
                                                                connectId: undefined,
                                                                                            createTime: undefined,
                                                                                                                                                    },
            // 显示查询条件
            showSearch: true,
                    // 表单参数
                    form: {},
            // 表单校验
            rules: {
                                                                                                                                                                                                                                                                                                                                                                }
        };
        },
        created() {
            this.getList();
                                                                                                                                                                                                                                                                                },
        methods: {
            /** 查询黑名单管理列表 */
            getList() {
                this.loading = true;
                listBlacklist(this.addDateRange(this.queryParams, this.dateRange)).then(response => {
                    this.blacklistList = response.data;
                    this.total = response.total;
                    this.loading = false;
                });
            },
                                                                                                                                                                                                                                                                                    // 取消按钮
            cancel() {
                this.open = false;
                this.reset();
            },
            // 表单重置
            reset() {
                this.form = {
                                                            id: undefined,
                                                                                userId: undefined,
                                                                                connectId: undefined,
                                                                                createBy: undefined,
                                                                                createTime: undefined,
                                                                                updateBy: undefined,
                                                                                updateTime: undefined,
                                                                                remarks: undefined,
                                                                                delFlag: undefined
                                                };
                this.resetForm("form");
            },
            /** 查询按钮操作 */
            handleQuery() {
                this.queryParams.current = 1;
                this.getList();
            },
            /** 重置按钮操作 */
            resetQuery() {
                this.resetForm("queryForm");
            },
            // 多选框选中数据
            handleSelectionChange(selection) {
                this.ids = selection.map(item => item.id)
                this.single = selection.length!=1
                this.multiple = !selection.length
            },
            /** 新增按钮操作 */
            handleAdd() {
                this.reset();
                this.open = true;
                this.title = "添加黑名单管理";
            },
            /** 修改按钮操作 */
            handleEdit(row) {
                this.reset();
                const id = row.id || this.ids
                getBlacklist(id).then(response => {
                    this.form = response.data;
                    this.open = true;
                    this.title = "修改黑名单管理";
                });
            },
            /** 提交按钮 */
            submitForm: function() {
                this.$refs["form"].validate(valid => {
                    if (valid) {
                        if (this.form.id != undefined) {
                            editBlacklist(this.form).then(response => {
                                if (response.code === 0) {
                                    this.msgSuccess("修改成功");
                                    this.open = false;
                                    this.getList();
                                } else {
                                    this.msgError(response.msg);
                                }
                            });
                        } else {
                            addBlacklist(this.form).then(response => {
                                if (response.code === 0) {
                                    this.msgSuccess("新增成功");
                                    this.open = false;
                                    this.getList();
                                } else {
                                    this.msgError(response.msg);
                                }
                            });
                        }
                    }
                });
            },
            /** 删除按钮操作 */
            handleDel(row) {
                const ids = row.id || this.ids;
                this.$confirm('是否确认删除黑名单管理编号为"' + ids + '"的数据项?', "警告", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                }).then(function() {
                    return delBlacklist(ids);
                }).then(() => {
                    this.getList();
                    this.msgSuccess("删除成功");
                }).catch(function() {});
            },
            /** 导出按钮操作 */
            handleExport() {
                const queryParams = this.queryParams;
                this.$confirm('是否确认导出所有黑名单管理数据项?', "警告", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                }).then(function() {
                    return exportBlacklist(queryParams);
                }).then(response => {
                    this.download(response.data);
                }).catch(function() {});
            }
        }
    };
</script>
