<template>
    <div class="app-container">
        <el-form :model="queryParams" ref="queryForm" :inline="true" v-show="showSearch" label-width="68px">
                                                                                                                                            <el-form-item label="分区" prop="hookPartition">
                            <el-input
                                    v-model="queryParams.hookPartition"
                                    placeholder="请输入分区"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="会员信息" prop="userId">
                            <el-input
                                    v-model="queryParams.userId"
                                    placeholder="请输入会员信息"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="淘宝小号" prop="tbTrumpet">
                            <el-input
                                    v-model="queryParams.tbTrumpet"
                                    placeholder="请输入淘宝小号"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="等级" prop="starLevel">
                            <el-input
                                    v-model="queryParams.starLevel"
                                    placeholder="请输入等级"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="消费水平" prop="consumeLevel">
                            <el-input
                                    v-model="queryParams.consumeLevel"
                                    placeholder="请输入消费水平"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="日刷" prop="dayBrush">
                            <el-input
                                    v-model="queryParams.dayBrush"
                                    placeholder="请输入日刷"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="我刷" prop="myBrush">
                            <el-input
                                    v-model="queryParams.myBrush"
                                    placeholder="请输入我刷"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="状态" prop="status">
                            <el-select v-model="queryParams.status" placeholder="请选择状态" clearable size="small">
                                <el-option label="请选择字典生成" value="" />
                            </el-select>
                        </el-form-item>
                                                                                                                                                                                                                                                            <el-form-item label="上限金额" prop="maxMoney">
                            <el-input
                                    v-model="queryParams.maxMoney"
                                    placeholder="请输入上限金额"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="垫付" prop="advancePay">
                            <el-input
                                    v-model="queryParams.advancePay"
                                    placeholder="请输入垫付"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="地区" prop="address">
                            <el-input
                                    v-model="queryParams.address"
                                    placeholder="请输入地区"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="网络" prop="network">
                            <el-input
                                    v-model="queryParams.network"
                                    placeholder="请输入网络"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                                                <el-form-item label="创建时间">
                            <el-date-picker v-model="dateRange"
                                            size="small"
                                            style="width: 240px"
                                            value-format="yyyy-MM-dd"
                                            type="daterange"
                                            range-separator="-"
                                            start-placeholder="开始日期"
                                            end-placeholder="结束日期"
                            ></el-date-picker>
                        </el-form-item>
                                                                                                                                                                            <el-form-item>
                <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">查询</el-button>
                <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
            </el-form-item>
        </el-form>

        <el-row :gutter="10" class="mb8">
            <el-col :span="1.5">
                <el-button
                        type="primary"
                        icon="el-icon-plus"
                        size="mini"
                        @click="handleAdd"
                        v-hasPerm="['onhookList_add']"
                >新增</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        type="success"
                        icon="el-icon-edit"
                        size="mini"
                        :disabled="single"
                        @click="handleEdit"
                        v-hasPerm="['onhookList_edit']"
                >修改</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        type="danger"
                        icon="el-icon-delete"
                        size="mini"
                        :disabled="multiple"
                        @click="handleDel"
                        v-hasPerm="['onhookList_del']"
                >删除</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        type="warning"
                        icon="el-icon-download"
                        size="mini"
                        @click="handleExport"
                        v-hasPerm="['onhookList_export']"
                >导出</el-button>
            </el-col>
            <div class="top-right-btn">
                <el-tooltip class="item" effect="dark" content="刷新" placement="top">
                    <el-button size="mini" circle icon="el-icon-refresh" @click="handleQuery" />
                </el-tooltip>
                <el-tooltip class="item" effect="dark" :content="showSearch ? '隐藏查询' : '显示查询'" placement="top">
                    <el-button size="mini" circle icon="el-icon-search" @click="showSearch=!showSearch" />
                </el-tooltip>
            </div>
        </el-row>

        <el-table v-loading="loading" :data="onhookListList" border @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55" align="center" />
                                                                                <el-table-column label="" align="center" prop="id" />
                                                                                                <el-table-column label="分区" align="center" prop="hookPartition" :formatter="hookPartitionFormat" />
                                                                                                <el-table-column label="会员信息" align="center" prop="userId" />
                                                                                                <el-table-column label="淘宝小号" align="center" prop="tbTrumpet" />
                                                                                                <el-table-column label="等级" align="center" prop="starLevel" />
                                                                                                <el-table-column label="消费水平" align="center" prop="consumeLevel" />
                                                                                                <el-table-column label="日刷" align="center" prop="dayBrush" />
                                                                                                <el-table-column label="我刷" align="center" prop="myBrush" />
                                                                                                <el-table-column label="状态" align="center" prop="status" />
                                                                                                <el-table-column label="标签" align="center" prop="tag" />
                                                                                                <el-table-column label="上限金额" align="center" prop="maxMoney" />
                                                                                                <el-table-column label="垫付" align="center" prop="advancePay" />
                                                                                                <el-table-column label="地区" align="center" prop="address" />
                                                                                                <el-table-column label="网络" align="center" prop="network" />
                                                                                                                                                            <el-table-column label="创建时间" align="center" prop="createTime" width="180">
                        <template slot-scope="scope">
                            <span>{{ parseTime(scope.row.createTime) }}</span>
                        </template>
                    </el-table-column>
                                                                                                                                                                                                                                                                                        <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            type="text"
                            icon="el-icon-edit"
                            @click="handleEdit(scope.row)"
                            v-hasPerm="['onhookList_edit']"
                    >修改</el-button>
                    <el-button
                            size="mini"
                            type="text"
                            icon="el-icon-delete"
                            @click="handleDel(scope.row)"
                            v-hasPerm="['onhookList_del']"
                    >删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <pagination
                v-show="total>0"
                :total="total"
                :page.sync="queryParams.current"
                :limit.sync="queryParams.size"
                @pagination="getList"
        />

        <!-- 添加或修改挂机列表对话框 -->
        <el-dialog :title="title" :visible.sync="open">
            <el-form ref="form" :model="form" :rules="rules" label-width="80px">
                <el-row>
                                                                                                                                                                                                                                                        <el-col :span="8">
                                        <el-form-item label="分区" prop="hookPartition">
                                            <el-input v-model="form.hookPartition" placeholder="请输入分区job_type" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="会员信息" prop="userId">
                                            <el-input-number v-model="form.userId" controls-position="right" :min="0" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="淘宝小号" prop="tbTrumpet">
                                            <el-input v-model="form.tbTrumpet" placeholder="请输入淘宝小号" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="等级" prop="starLevel">
                                            <el-input v-model="form.starLevel" placeholder="请输入等级" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="消费水平" prop="consumeLevel">
                                            <el-input v-model="form.consumeLevel" placeholder="请输入消费水平" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="日刷" prop="dayBrush">
                                            <el-input-number v-model="form.dayBrush" controls-position="right" :min="0" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="我刷" prop="myBrush">
                                            <el-input-number v-model="form.myBrush" controls-position="right" :min="0" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="状态">
                                            <el-radio-group v-model="form.status">
                                                <el-radio label="1">请选择字典生成</el-radio>
                                            </el-radio-group>
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="标签" prop="tag">
                                            <el-input v-model="form.tag" type="textarea" placeholder="请输入内容" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="上限金额" prop="maxMoney">
                                            <el-input v-model="form.maxMoney" placeholder="请输入上限金额" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="垫付" prop="advancePay">
                                            <el-input v-model="form.advancePay" placeholder="请输入垫付" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="地区" prop="address">
                                            <el-input v-model="form.address" placeholder="请输入地区" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="网络" prop="network">
                                            <el-input v-model="form.network" placeholder="请输入网络" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                                                                                                                                                                    </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitForm">确 定</el-button>
                <el-button @click="cancel">取 消</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    import { listOnhookList, getOnhookList, delOnhookList, addOnhookList, editOnhookList, exportOnhookList } from "@/api/sbs/onhookList";

    export default {
        name: "OnhookList",
        data() {
            return {
                // 遮罩层
                loading: true,
                // 选中数组
                ids: [],
                // 非单个禁用
                single: true,
                // 非多个禁用
                multiple: true,
                // 总条数
                total: 0,
                // 挂机列表表格数据
                    onhookListList: [],
                // 弹出层标题
                title: "",
                // 是否显示弹出层
                open: false,
                // 日期范围
                dateRange: [],
                                                                                                                                                                                // 分区字典
                            hookPartitionOptions: [],                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            // 查询参数
                queryParams: {
                    current: 1,
                    size: 10,
                                                                            hookPartition: undefined,
                                                                userId: undefined,
                                                                tbTrumpet: undefined,
                                                                starLevel: undefined,
                                                                consumeLevel: undefined,
                                                                dayBrush: undefined,
                                                                myBrush: undefined,
                                                                status: undefined,
                                                                tag: undefined,
                                                                maxMoney: undefined,
                                                                advancePay: undefined,
                                                                address: undefined,
                                                                network: undefined,
                                                                                            createTime: undefined,
                                                                                                                                                    },
            // 显示查询条件
            showSearch: true,
                    // 表单参数
                    form: {},
            // 表单校验
            rules: {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            }
        };
        },
        created() {
            this.getList();
                                                                            this.getDicts("job_type").then(response => {
                        this.hookPartitionOptions = response.data;
                    });
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            },
        methods: {
            /** 查询挂机列表列表 */
            getList() {
                this.loading = true;
                listOnhookList(this.addDateRange(this.queryParams, this.dateRange)).then(response => {
                    this.onhookListList = response.data;
                    this.total = response.total;
                    this.loading = false;
                });
            },
                                                                                                                    // 分区字典翻译
                        hookPartitionFormat(row, column) {
                        return this.selectDictLabel(this.hookPartitionOptions, row.hookPartition);
                    },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                // 取消按钮
            cancel() {
                this.open = false;
                this.reset();
            },
            // 表单重置
            reset() {
                this.form = {
                                                            id: undefined,
                                                                                hookPartition: undefined,
                                                                                userId: undefined,
                                                                                tbTrumpet: undefined,
                                                                                starLevel: undefined,
                                                                                consumeLevel: undefined,
                                                                                dayBrush: undefined,
                                                                                myBrush: undefined,
                                                                                status: "0",
                                                                                tag: undefined,
                                                                                maxMoney: undefined,
                                                                                advancePay: undefined,
                                                                                address: undefined,
                                                                                network: undefined,
                                                                                createBy: undefined,
                                                                                createTime: undefined,
                                                                                updateBy: undefined,
                                                                                updateTime: undefined,
                                                                                remarks: undefined,
                                                                                delFlag: undefined
                                                };
                this.resetForm("form");
            },
            /** 查询按钮操作 */
            handleQuery() {
                this.queryParams.current = 1;
                this.getList();
            },
            /** 重置按钮操作 */
            resetQuery() {
                this.resetForm("queryForm");
            },
            // 多选框选中数据
            handleSelectionChange(selection) {
                this.ids = selection.map(item => item.id)
                this.single = selection.length!=1
                this.multiple = !selection.length
            },
            /** 新增按钮操作 */
            handleAdd() {
                this.reset();
                this.open = true;
                this.title = "添加挂机列表";
            },
            /** 修改按钮操作 */
            handleEdit(row) {
                this.reset();
                const id = row.id || this.ids
                getOnhookList(id).then(response => {
                    this.form = response.data;
                    this.open = true;
                    this.title = "修改挂机列表";
                });
            },
            /** 提交按钮 */
            submitForm: function() {
                this.$refs["form"].validate(valid => {
                    if (valid) {
                        if (this.form.id != undefined) {
                            editOnhookList(this.form).then(response => {
                                if (response.code === 0) {
                                    this.msgSuccess("修改成功");
                                    this.open = false;
                                    this.getList();
                                } else {
                                    this.msgError(response.msg);
                                }
                            });
                        } else {
                            addOnhookList(this.form).then(response => {
                                if (response.code === 0) {
                                    this.msgSuccess("新增成功");
                                    this.open = false;
                                    this.getList();
                                } else {
                                    this.msgError(response.msg);
                                }
                            });
                        }
                    }
                });
            },
            /** 删除按钮操作 */
            handleDel(row) {
                const ids = row.id || this.ids;
                this.$confirm('是否确认删除挂机列表编号为"' + ids + '"的数据项?', "警告", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                }).then(function() {
                    return delOnhookList(ids);
                }).then(() => {
                    this.getList();
                    this.msgSuccess("删除成功");
                }).catch(function() {});
            },
            /** 导出按钮操作 */
            handleExport() {
                const queryParams = this.queryParams;
                this.$confirm('是否确认导出所有挂机列表数据项?', "警告", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                }).then(function() {
                    return exportOnhookList(queryParams);
                }).then(response => {
                    this.download(response.data);
                }).catch(function() {});
            }
        }
    };
</script>
