<template>
    <div class="app-container">
        <el-form :model="queryParams" ref="queryForm" :inline="true" v-show="showSearch" label-width="68px">
                                                                                                                                            <el-form-item label="大号id" prop="userId">
                            <el-input
                                    v-model="queryParams.userId"
                                    placeholder="请输入大号id"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                                                                                                                                                                                                                                    <el-form-item label="账号等级" prop="trumpetLevel">
                            <el-input
                                    v-model="queryParams.trumpetLevel"
                                    placeholder="请输入账号等级"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="账号平台" prop="trumpetPlateform">
                            <el-input
                                    v-model="queryParams.trumpetPlateform"
                                    placeholder="请输入账号平台"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="消费层级" prop="consumeLevel">
                            <el-input
                                    v-model="queryParams.consumeLevel"
                                    placeholder="请输入消费层级"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                                                                                                                            <el-form-item label="性别" prop="sex">
                            <el-select v-model="queryParams.sex" placeholder="请选择性别" clearable size="small">
                                <el-option label="请选择字典生成" value="" />
                            </el-select>
                        </el-form-item>
                                                                                                                                                    <el-form-item label="年龄" prop="age">
                            <el-input
                                    v-model="queryParams.age"
                                    placeholder="请输入年龄"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <el-form-item label="是否实名" prop="isRealname">
                            <el-input
                                    v-model="queryParams.isRealname"
                                    placeholder="请输入是否实名"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="是否手机实名" prop="isRealphone">
                            <el-input
                                    v-model="queryParams.isRealphone"
                                    placeholder="请输入是否手机实名"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="是否启用" prop="isOn">
                            <el-input
                                    v-model="queryParams.isOn"
                                    placeholder="请输入是否启用"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="是否审核" prop="isAudit">
                            <el-input
                                    v-model="queryParams.isAudit"
                                    placeholder="请输入是否审核"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="上限订单数" prop="maxOrderNo">
                            <el-input
                                    v-model="queryParams.maxOrderNo"
                                    placeholder="请输入上限订单数"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="上限金额" prop="maxMoney">
                            <el-input
                                    v-model="queryParams.maxMoney"
                                    placeholder="请输入上限金额"
                                    clearable
                                    size="small"
                                    @keyup.enter.native="handleQuery"
                            />
                        </el-form-item>
                                                                                                                                                    <el-form-item label="状态" prop="status">
                            <el-select v-model="queryParams.status" placeholder="请选择状态" clearable size="small">
                                <el-option label="请选择字典生成" value="" />
                            </el-select>
                        </el-form-item>
                                                                                                                                                                                <el-form-item label="创建时间">
                            <el-date-picker v-model="dateRange"
                                            size="small"
                                            style="width: 240px"
                                            value-format="yyyy-MM-dd"
                                            type="daterange"
                                            range-separator="-"
                                            start-placeholder="开始日期"
                                            end-placeholder="结束日期"
                            ></el-date-picker>
                        </el-form-item>
                                                                                                                                                                            <el-form-item>
                <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">查询</el-button>
                <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
            </el-form-item>
        </el-form>

        <el-row :gutter="10" class="mb8">
            <el-col :span="1.5">
                <el-button
                        type="primary"
                        icon="el-icon-plus"
                        size="mini"
                        @click="handleAdd"
                        v-hasPerm="['trumpet_add']"
                >新增</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        type="success"
                        icon="el-icon-edit"
                        size="mini"
                        :disabled="single"
                        @click="handleEdit"
                        v-hasPerm="['trumpet_edit']"
                >修改</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        type="danger"
                        icon="el-icon-delete"
                        size="mini"
                        :disabled="multiple"
                        @click="handleDel"
                        v-hasPerm="['trumpet_del']"
                >删除</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        type="warning"
                        icon="el-icon-download"
                        size="mini"
                        @click="handleExport"
                        v-hasPerm="['trumpet_export']"
                >导出</el-button>
            </el-col>
            <div class="top-right-btn">
                <el-tooltip class="item" effect="dark" content="刷新" placement="top">
                    <el-button size="mini" circle icon="el-icon-refresh" @click="handleQuery" />
                </el-tooltip>
                <el-tooltip class="item" effect="dark" :content="showSearch ? '隐藏查询' : '显示查询'" placement="top">
                    <el-button size="mini" circle icon="el-icon-search" @click="showSearch=!showSearch" />
                </el-tooltip>
            </div>
        </el-row>

        <el-table v-loading="loading" :data="trumpetList" border @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55" align="center" />
                                                                                <el-table-column label="" align="center" prop="id" />
                                                                                                <el-table-column label="大号id" align="center" prop="userId" />
                                                                                                <el-table-column label="账号名" align="center" prop="trumpetName" />
                                                                                                <el-table-column label="账号密码" align="center" prop="trumpetPwd" />
                                                                                                <el-table-column label="账号等级" align="center" prop="trumpetLevel" />
                                                                                                <el-table-column label="账号平台" align="center" prop="trumpetPlateform" />
                                                                                                <el-table-column label="消费层级" align="center" prop="consumeLevel" />
                                                                                                <el-table-column label="地址" align="center" prop="address" />
                                                                                                <el-table-column label="性别" align="center" prop="sex" />
                                                                                                <el-table-column label="年龄" align="center" prop="age" />
                                                                                                <el-table-column label="支付宝姓名" align="center" prop="zfbName" />
                                                                                                <el-table-column label="支付宝账号" align="center" prop="zfbAccount" />
                                                                                                <el-table-column label="收货人姓名" align="center" prop="receiveName" />
                                                                                                <el-table-column label="收货人电话" align="center" prop="receivePhone" />
                                                                                                <el-table-column label="收货地址" align="center" prop="receiveAddress" />
                                                                                                <el-table-column label="是否实名" align="center" prop="isRealname" />
                                                                                                <el-table-column label="是否手机实名" align="center" prop="isRealphone" />
                                                                                                <el-table-column label="是否启用" align="center" prop="isOn" />
                                                                                                <el-table-column label="是否审核" align="center" prop="isAudit" />
                                                                                                <el-table-column label="上限订单数" align="center" prop="maxOrderNo" />
                                                                                                <el-table-column label="上限金额" align="center" prop="maxMoney" />
                                                                                                <el-table-column label="状态" align="center" prop="status" />
                                                                                                                                                            <el-table-column label="创建时间" align="center" prop="createTime" width="180">
                        <template slot-scope="scope">
                            <span>{{ parseTime(scope.row.createTime) }}</span>
                        </template>
                    </el-table-column>
                                                                                                                                                                                                                                                                                        <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            type="text"
                            icon="el-icon-edit"
                            @click="handleEdit(scope.row)"
                            v-hasPerm="['trumpet_edit']"
                    >修改</el-button>
                    <el-button
                            size="mini"
                            type="text"
                            icon="el-icon-delete"
                            @click="handleDel(scope.row)"
                            v-hasPerm="['trumpet_del']"
                    >删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <pagination
                v-show="total>0"
                :total="total"
                :page.sync="queryParams.current"
                :limit.sync="queryParams.size"
                @pagination="getList"
        />

        <!-- 添加或修改小号管理对话框 -->
        <el-dialog :title="title" :visible.sync="open">
            <el-form ref="form" :model="form" :rules="rules" label-width="80px">
                <el-row>
                                                                                                                                                                                                                                                        <el-col :span="8">
                                        <el-form-item label="大号id" prop="userId">
                                            <el-input-number v-model="form.userId" controls-position="right" :min="0" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="账号名" prop="trumpetName">
                                            <el-input v-model="form.trumpetName" type="textarea" placeholder="请输入内容" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="账号密码" prop="trumpetPwd">
                                            <el-input v-model="form.trumpetPwd" type="textarea" placeholder="请输入内容" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="账号等级" prop="trumpetLevel">
                                            <el-input v-model="form.trumpetLevel" placeholder="请输入账号等级" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="账号平台" prop="trumpetPlateform">
                                            <el-input v-model="form.trumpetPlateform" placeholder="请输入账号平台" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="消费层级" prop="consumeLevel">
                                            <el-input v-model="form.consumeLevel" placeholder="请输入消费层级" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="地址" prop="address">
                                            <el-input v-model="form.address" type="textarea" placeholder="请输入内容" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="性别">
                                            <el-select v-model="form.sex" placeholder="请选择性别">
                                                <el-option label="请选择字典生成" value="" />
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="年龄" prop="age">
                                            <el-input v-model="form.age" placeholder="请输入年龄" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="支付宝姓名" prop="zfbName">
                                            <el-input v-model="form.zfbName" type="textarea" placeholder="请输入内容" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="支付宝账号" prop="zfbAccount">
                                            <el-input v-model="form.zfbAccount" type="textarea" placeholder="请输入内容" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="收货人姓名" prop="receiveName">
                                            <el-input v-model="form.receiveName" type="textarea" placeholder="请输入内容" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="收货人电话" prop="receivePhone">
                                            <el-input v-model="form.receivePhone" type="textarea" placeholder="请输入内容" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="收货地址" prop="receiveAddress">
                                            <el-input v-model="form.receiveAddress" type="textarea" placeholder="请输入内容" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="是否实名" prop="isRealname">
                                            <el-input v-model="form.isRealname" placeholder="请输入是否实名" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="是否手机实名" prop="isRealphone">
                                            <el-input v-model="form.isRealphone" placeholder="请输入是否手机实名" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="是否启用" prop="isOn">
                                            <el-input v-model="form.isOn" placeholder="请输入是否启用" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="是否审核" prop="isAudit">
                                            <el-input v-model="form.isAudit" placeholder="请输入是否审核" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="上限订单数" prop="maxOrderNo">
                                            <el-input v-model="form.maxOrderNo" placeholder="请输入上限订单数" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="上限金额" prop="maxMoney">
                                            <el-input v-model="form.maxMoney" placeholder="请输入上限金额" />
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                <el-col :span="8">
                                        <el-form-item label="状态">
                                            <el-radio-group v-model="form.status">
                                                <el-radio label="1">请选择字典生成</el-radio>
                                            </el-radio-group>
                                        </el-form-item>
                                    </el-col>
                                                                                                                                                                                                                                                                                                                                                                                                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitForm">确 定</el-button>
                <el-button @click="cancel">取 消</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    import { listTrumpet, getTrumpet, delTrumpet, addTrumpet, editTrumpet, exportTrumpet } from "@/api/sbs/trumpet";

    export default {
        name: "Trumpet",
        data() {
            return {
                // 遮罩层
                loading: true,
                // 选中数组
                ids: [],
                // 非单个禁用
                single: true,
                // 非多个禁用
                multiple: true,
                // 总条数
                total: 0,
                // 小号管理表格数据
                    trumpetList: [],
                // 弹出层标题
                title: "",
                // 是否显示弹出层
                open: false,
                // 日期范围
                dateRange: [],
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                // 查询参数
                queryParams: {
                    current: 1,
                    size: 10,
                                                                            userId: undefined,
                                                                trumpetName: undefined,
                                                                trumpetPwd: undefined,
                                                                trumpetLevel: undefined,
                                                                trumpetPlateform: undefined,
                                                                consumeLevel: undefined,
                                                                address: undefined,
                                                                sex: undefined,
                                                                age: undefined,
                                                                zfbName: undefined,
                                                                zfbAccount: undefined,
                                                                receiveName: undefined,
                                                                receivePhone: undefined,
                                                                receiveAddress: undefined,
                                                                isRealname: undefined,
                                                                isRealphone: undefined,
                                                                isOn: undefined,
                                                                isAudit: undefined,
                                                                maxOrderNo: undefined,
                                                                maxMoney: undefined,
                                                                status: undefined,
                                                                                            createTime: undefined,
                                                                                                                                                    },
            // 显示查询条件
            showSearch: true,
                    // 表单参数
                    form: {},
            // 表单校验
            rules: {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            }
        };
        },
        created() {
            this.getList();
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    },
        methods: {
            /** 查询小号管理列表 */
            getList() {
                this.loading = true;
                listTrumpet(this.addDateRange(this.queryParams, this.dateRange)).then(response => {
                    this.trumpetList = response.data;
                    this.total = response.total;
                    this.loading = false;
                });
            },
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        // 取消按钮
            cancel() {
                this.open = false;
                this.reset();
            },
            // 表单重置
            reset() {
                this.form = {
                                                            id: undefined,
                                                                                userId: undefined,
                                                                                trumpetName: undefined,
                                                                                trumpetPwd: undefined,
                                                                                trumpetLevel: undefined,
                                                                                trumpetPlateform: undefined,
                                                                                consumeLevel: undefined,
                                                                                address: undefined,
                                                                                sex: undefined,
                                                                                age: undefined,
                                                                                zfbName: undefined,
                                                                                zfbAccount: undefined,
                                                                                receiveName: undefined,
                                                                                receivePhone: undefined,
                                                                                receiveAddress: undefined,
                                                                                isRealname: undefined,
                                                                                isRealphone: undefined,
                                                                                isOn: undefined,
                                                                                isAudit: undefined,
                                                                                maxOrderNo: undefined,
                                                                                maxMoney: undefined,
                                                                                status: "0",
                                                                                createBy: undefined,
                                                                                createTime: undefined,
                                                                                updateBy: undefined,
                                                                                updateTime: undefined,
                                                                                remarks: undefined,
                                                                                delFlag: undefined
                                                };
                this.resetForm("form");
            },
            /** 查询按钮操作 */
            handleQuery() {
                this.queryParams.current = 1;
                this.getList();
            },
            /** 重置按钮操作 */
            resetQuery() {
                this.resetForm("queryForm");
            },
            // 多选框选中数据
            handleSelectionChange(selection) {
                this.ids = selection.map(item => item.id)
                this.single = selection.length!=1
                this.multiple = !selection.length
            },
            /** 新增按钮操作 */
            handleAdd() {
                this.reset();
                this.open = true;
                this.title = "添加小号管理";
            },
            /** 修改按钮操作 */
            handleEdit(row) {
                this.reset();
                const id = row.id || this.ids
                getTrumpet(id).then(response => {
                    this.form = response.data;
                    this.open = true;
                    this.title = "修改小号管理";
                });
            },
            /** 提交按钮 */
            submitForm: function() {
                this.$refs["form"].validate(valid => {
                    if (valid) {
                        if (this.form.id != undefined) {
                            editTrumpet(this.form).then(response => {
                                if (response.code === 0) {
                                    this.msgSuccess("修改成功");
                                    this.open = false;
                                    this.getList();
                                } else {
                                    this.msgError(response.msg);
                                }
                            });
                        } else {
                            addTrumpet(this.form).then(response => {
                                if (response.code === 0) {
                                    this.msgSuccess("新增成功");
                                    this.open = false;
                                    this.getList();
                                } else {
                                    this.msgError(response.msg);
                                }
                            });
                        }
                    }
                });
            },
            /** 删除按钮操作 */
            handleDel(row) {
                const ids = row.id || this.ids;
                this.$confirm('是否确认删除小号管理编号为"' + ids + '"的数据项?', "警告", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                }).then(function() {
                    return delTrumpet(ids);
                }).then(() => {
                    this.getList();
                    this.msgSuccess("删除成功");
                }).catch(function() {});
            },
            /** 导出按钮操作 */
            handleExport() {
                const queryParams = this.queryParams;
                this.$confirm('是否确认导出所有小号管理数据项?', "警告", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                }).then(function() {
                    return exportTrumpet(queryParams);
                }).then(response => {
                    this.download(response.data);
                }).catch(function() {});
            }
        }
    };
</script>
